body {
    font-family: "Arial", sans-serif;
    background-color: #222;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    padding: 15px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

form {
    margin: 30px auto;
    max-width: 500px;
    padding: 15px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin
